.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}